.container {
  /* Задаємо розмір, щоб на великих екранах сайт не плив */
  width: 100%;
  max-width: 1288px;
  /* Центруємо  блок контенту */
  margin: 0 auto;
  /* Щоб текст не прилипав */
  padding: 0 24px;
}
